<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- 生产环境版本，优化了尺寸和速度 -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <!--  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"> -->
</head>

<body>
    <div id="app">
        {{message}}
    </div>
    <!-- v-bind ：指令  此处将title和vue实例的message属性保持一致-->
    <div id="app-2">
        <span v-bind:title="message">
            鼠标悬停几秒钟查看此处动态绑定的提示信息！
        </span>
    </div>
    <!-- v-if 条件判断显示与否 -->
    <div id="app-3">
        <p v-if="seen"> 看到了</p>
    </div>
    <!-- v-for 循环 -->
    <div id="app-4">
        <ol>
            <li v-for="todo in todos">{{ todo.text }}</li>
        </ol>
    </div>
    <!--v-on 添加事件监听器  处理用户输入 -->
    <div id="app-5">
        <p>{{message}}</p>
        <button v-on:click="reverseMessage">反转消息</button>
    </div>

    <!-- v-model 实现表单输入和应用状态之间的双向绑定 -->
    <div id="app-6">
        <p>{{message}}</p>
        <input type="text" v-model='message'>
    </div>
    <!-- 构建组件模板 -->
    <div id="app7">
        <ol>
            <!-- 创建一个todo-item组件的实例 -->
            <todo-item v-for="item in groceryList" v-bind:todo="item" v-bind:key="item.id"></todo-item>
        </ol>
    </div>
    <script>
        Vue.config.devtools = true;

        var app = new Vue({
            el: "#app",
            data: {
                message: 'Hello Vue!'
            }
        })
        var appp2 = new Vue({
            el: "#app-2",
            data: {
                message: '页面加载' + new Date().toLocaleString()
            }
        })
        var app3 = new Vue({
            el: "#app-3",
            data: {
                seen: true
            }
        })
        var app4 = new Vue({
            el: "#app-4",
            data: {
                todos: [
                    { text: "one" },
                    { text: "two" }
                ]
            }
        })
        var app5 = new Vue({
            el: "#app-5",
            data: {
                message: "hello vue.js"
            },
            methods: {
                reverseMessage: function () {
                    this.message = this.message.split('').reverse().join('')
                }
            }
        })
        var app6 = new Vue({
            el: "#app-6",
            data: {
                message: "hello vue!"
            }
        })


    </script>
    <script>
        // 定义名为todo-item的新组件
        Vue.component('todo-item', {
            // todo-item组件现在接受一个‘prop'，类似于一个自定义属性，这个props命名为todo
            // 通过prop接口与父单元进行解耦
            props: ['todo'],
            template: '<li>{{todo.text}}</li>'
        })
        var vm = new Vue({
            el: "#app7",
            data: {
                groceryList: [
                    { id: 0, text: "蔬菜" },
                    { id: 1, text: "水果" },
                    { id: 3, text: "其他" }
                ]
            }
        })
    </script>
</body>

</html>